
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    border-top-style: solid;
    border-color: #bbbaba;
    padding-top: 20px;
}

.github {
    color:  #070707;
    text-align: center;
    font-size: 20px;
    font-style: bold;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    width: 22%;
    text-decoration: none;
}

.github-txt {
    color:  #000000;
    text-align: center;
    font-size: 20px;
    font-style: bold;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    width: 22%;
    text-decoration: none;
}

.year {
    color:  #000000;
    text-align: center;
    font-size: 20px;
    font-style: bold;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
}

.school {
    text-align: center;
    width: 23.5%;
}

.img-footer {
    height: 60px;
}